.dropdown button{ background-color: black; }
.dropdown a{ display: block; color: red; text-decoration: none;  }
.dropdown .content{ display: none; position:absolute; box-shadow: 2px 2px 5px red; }
.dropdown:hover .content{display: block;}

.dropdown button{ text-align: right; } 
.mydiv {text-align: right; } 

.dropdown button{ position: relative; left: 55px; ; top: -20;} 


.IMG_1974 {position: relative; top: 40;}


   